<mat-card>
    <mat-card-header>
      <mat-card-title>Branch Receive Product List</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-8">
          <mat-form-field>
            <mat-label>Branch ID</mat-label>
            <input matInput placeholder="Write Branch ID" [(ngModel)]="receivedetail.branchid"
            (focus)="getAllReceivedproductdeatil()">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Write anything">
          </mat-form-field>
        </div>
      </div>
  
      <div>
        <table mat-table [dataSource]="dataSource">
          <!-- ID Column -->
          <ng-container matColumnDef="Received Detail ID">
            <th mat-header-cell *matHeaderCellDef> Received Detail ID </th>
            <td mat-cell *matCellDef="let receivedetinfo"> {{receivedetinfo[1].recdetid}} </td>
          </ng-container>

          <ng-container matColumnDef="Receive ID">
            <th mat-header-cell *matHeaderCellDef> Receive ID </th>
            <td mat-cell *matCellDef="let receivedetinfo"> {{receivedetinfo[0].recid}} </td>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="Branch ID">
            <th mat-header-cell *matHeaderCellDef> Branch ID </th>
            <td mat-cell *matCellDef="let receivedetinfo"> {{receivedetinfo[0].branchid}} </td>
          </ng-container>
  
          <!-- Description Column -->
          <ng-container matColumnDef="Branch Location">
            <th mat-header-cell *matHeaderCellDef> Branch Location </th>
            <td mat-cell *matCellDef="let receivedetinfo"> {{receivedetinfo[3].blocation}} </td>
          </ng-container>
  
          <ng-container matColumnDef="Issue ID">
            <th mat-header-cell *matHeaderCellDef> Issue ID </th>
            <td mat-cell *matCellDef="let receivedetinfo"> {{receivedetinfo[0].issueid}} </td>
          </ng-container>
  
          <ng-container matColumnDef="Received Date">
            <th mat-header-cell *matHeaderCellDef> Received Date</th>
            <td mat-cell *matCellDef="let receivedetinfo"> {{receivedetinfo[0].recdate}} </td>
          </ng-container>
  
          <ng-container matColumnDef="Product name">
            <th mat-header-cell *matHeaderCellDef> Product name</th>
            <td mat-cell *matCellDef="let receivedetinfo"> {{receivedetinfo[2].pname}} </td>
          </ng-container>

          <ng-container matColumnDef="Product Quantity">
            <th mat-header-cell *matHeaderCellDef> Product Quantity</th>
            <td mat-cell *matCellDef="let receivedetinfo"> {{receivedetinfo[1].recqty}} </td>
          </ng-container>

          <ng-container matColumnDef="Rate(TK)">
            <th mat-header-cell *matHeaderCellDef> Rate(TK)</th>
            <td mat-cell *matCellDef="let receivedetinfo"> {{receivedetinfo[1].spricerate}} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let receivedetinfo; columns: displayedColumns;">
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 30, 50, 100]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
