<div style="
max-width: 300px;
margin: 0 auto;
min-height: 400px;
margin-top: 60px;
">
<mat-card>
    <mat-card-content>
         <h2 align="center">Login</h2> 
      <form>
        <table cellspacing="0" align="center">
          <tr>
            <td>
              <mat-form-field>
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field>
            <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
          </mat-form-field></td>
        </tr></table>
      </form>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button (click)="login()" color="primary" style="width: 150px;">Login</button>
    </mat-card-actions>
  </mat-card>
</div>