<mat-card>
    <mat-card-header>
      <mat-card-title>Issueproduct List</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Write anything">
      </mat-form-field>
      <div>
        <table mat-table [dataSource]="dataSource">
          <!-- ID Column -->
          <ng-container matColumnDef="Issue ID">
            <th mat-header-cell *matHeaderCellDef> Issue ID </th>
            <td mat-cell *matCellDef="let issueproduct"> {{issueproduct.issueid}} </td>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="Issue Date">
            <th mat-header-cell *matHeaderCellDef> Issue Date </th>
            <td mat-cell *matCellDef="let issueproduct"> {{issueproduct.issuedate}} </td>
          </ng-container>

          <ng-container matColumnDef="Issuer Email">
            <th mat-header-cell *matHeaderCellDef> Issuer Email </th>
            <td mat-cell *matCellDef="let issueproduct"> {{issueproduct.emailid}} </td>
          </ng-container>
  
          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let issueproduct">

            <button mat-raised-button [matMenuTriggerFor]="menu" >Actions</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editIssueproduct(issueproduct)"><i class="fa fa-edit"></i> Edit</button>
              <button mat-menu-item (click)="deleteIssueproduct(issueproduct.issueid)"><i class="fa fa-trash"></i> Delete</button>
            </mat-menu>
            
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let issueproduct; columns: displayedColumns;">
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 30, 50, 100]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>

