<mat-card>
    <mat-card-header>
        <mat-card-title>Issue Product to Branch</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Issue ID</mat-label>
                    <input matInput placeholder="Issue ID" type="text"
                        [(ngModel)]="issueproductService.currentIssueproduct.issueid" disabled>
                </mat-form-field>
            </div>
            <div class="col-md-8">
                <mat-form-field>
                    <mat-label>Issue Date</mat-label>
                            <input matInput [matDatepicker]="picker"
                                [(ngModel)]="issueproductService.currentIssueproduct.issuedate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
           
            <div class="col-md-12">
                <mat-form-field appearance="outline">
                    <mat-label>Email Id of issuer</mat-label>
                    <input matInput placeholder="Write your email id" type="email"
                        [(ngModel)]="issueproductService.currentIssueproduct.emailid">
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
    <button class="btn btn-success" (click)="createOrUpdateIssueproduct(issueproductService.currentIssueproduct)"> <i
            class="fa fa-save"></i> Save</button>
    <button class="btn btn-primary" (click)="clear()"><i class="fa fa-retweet"></i> Clear</button>
</mat-card>
