<mat-card>
    <mat-card-header>
      <mat-card-title>Issue Product Detail List</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Write anything">
      </mat-form-field>
      <div>
        <table mat-table [dataSource]="dataSource">
          <!-- ID Column -->
          <ng-container matColumnDef="Issue Detail ID">
            <th mat-header-cell *matHeaderCellDef> Issue Detail ID </th>
            <td mat-cell *matCellDef="let issuedetail"> {{issuedetail[0].issuedetid}} </td>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="Issue ID">
            <th mat-header-cell *matHeaderCellDef> Issue ID </th>
            <td mat-cell *matCellDef="let issuedetail"> {{issuedetail[0].issueid}} </td>
          </ng-container>
  
          <!-- Description Column -->
          <ng-container matColumnDef="Branch ID">
            <th mat-header-cell *matHeaderCellDef> Branch ID </th>
            <td mat-cell *matCellDef="let issuedetail"> {{issuedetail[0].branchid}} </td>
          </ng-container>

          <ng-container matColumnDef="Branch Location">
            <th mat-header-cell *matHeaderCellDef> Branch Location </th>
            <td mat-cell *matCellDef="let issuedetail"> {{issuedetail[3].blocation}} </td>
          </ng-container>

          <ng-container matColumnDef="Product Name">
            <th mat-header-cell *matHeaderCellDef> Product Name </th>
            <td mat-cell *matCellDef="let issuedetail"> {{issuedetail[2].pname}} </td>
          </ng-container>

          <ng-container matColumnDef="Issue Quantity">
            <th mat-header-cell *matHeaderCellDef> Issue Quantity </th>
            <td mat-cell *matCellDef="let issuedetail"> {{issuedetail[0].issueqty}} </td>
          </ng-container>

          <ng-container matColumnDef="Sale Rate">
            <th mat-header-cell *matHeaderCellDef> Sale Rate </th>
            <td mat-cell *matCellDef="let issuedetail"> {{issuedetail[0].spricerate}} </td>
          </ng-container>

          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let issuedetail"> {{issuedetail[0].status}} </td>
          </ng-container>
  
          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let issuedetail">

              <button mat-raised-button [matMenuTriggerFor]="menu" >Actions</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editIssueproductdetail(issuedetail[0])"><i class="fa fa-edit"></i> Edit</button>
              <button mat-menu-item (click)="deleteIssueproductdetail(issuedetail[0])"><i class="fa fa-trash"></i> Delete</button>
            </mat-menu>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let purdet; columns: displayedColumns;">
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 30, 50, 100]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>