<mat-card style="margin-top: 5px;">
    <mat-card-header>
      <mat-card-title>Purchase Detail List</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Write anything">
      </mat-form-field>
      <div>
        <table mat-table [dataSource]="dataSource">
          <!-- ID Column -->
          <ng-container matColumnDef="Detail ID">
            <th mat-header-cell *matHeaderCellDef> Detail ID </th>
            <td mat-cell *matCellDef="let purdet"> {{purdet[2].purdetid}} </td>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="Purchase ID">
            <th mat-header-cell *matHeaderCellDef> Purchase ID </th>
            <td mat-cell *matCellDef="let purdet"> {{purdet[0].purid}} </td>
          </ng-container>
  
          <!-- Description Column -->
          <ng-container matColumnDef="Product Name">
            <th mat-header-cell *matHeaderCellDef> Product Name </th>
            <td mat-cell *matCellDef="let purdet"> {{purdet[1].pname}} </td>
          </ng-container>

          <ng-container matColumnDef="Qauntity">
            <th mat-header-cell *matHeaderCellDef> Qauntity </th>
            <td mat-cell *matCellDef="let purdet"> {{purdet[2].purqty}} </td>
          </ng-container>

          <ng-container matColumnDef="Unit Price">
            <th mat-header-cell *matHeaderCellDef> Unit Price </th>
            <td mat-cell *matCellDef="let purdet"> {{purdet[2].ppricepu}} </td>
          </ng-container>

          <ng-container matColumnDef="SubTotal">
            <th mat-header-cell *matHeaderCellDef> SubTotal </th>
            <td mat-cell *matCellDef="let purdet"> {{purdet[2].subtotal}} </td>
          </ng-container>

          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let purdet"> {{purdet[2].purdate}} </td>
          </ng-container>
  
          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let purdet">

              <button mat-raised-button [matMenuTriggerFor]="menu" >Actions</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editPurchasedetail(purdet[2])"><i class="fa fa-edit"></i> Edit</button>
              <button mat-menu-item (click)="deletePurchasedetail(purdet)"><i class="fa fa-trash"></i> Delete</button>
            </mat-menu>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let purdet; columns: displayedColumns;">
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 30, 50, 100]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>

